@import "../assets/scss/mixin";

.sx {
  &-app {
    width: 100vw;
    min-height: 100vh;
    background: #ddd;
    @include flexbox();
  }

  &-main-container {
    margin-left: 200px;
    flex: 1;
    min-height: 100vh;

    &__content {
      margin: 24px 18px;
      background: #fff;
      @include boxshadow();
    }
  }
}